@import "./config.scss";
@import "./normalize.scss";
@import "./elementui.scss";

.black-space-30 {
    height: 30px;
}
.black-space-10 {
    height: 10px;
}
.a{
    margin-right: 10px;
}

.overflow-h {
    overflow: hidden;
}